<div class="confirmation-container">
    <div class="confirmation-items">
        <h1 class="confirmation-header confirmation-item">Success</h1>
        <p class="confirmation-item">Thank you, {{ customer.name }}</p>
        <p class="confirmation-item">Your: ${{ customer.totalPrice }} is confirmed!</p>
        <p class="confirmation-item">Please allow 5-7 business day(s) for shopping</p>
        <a routerLink="/">
            <button class="btn btn-primary">Back to product list</button>
        </a> 
    </div>
</div>



